__pycache__/
.*
!.gitignore
backups/
user_data/categories/*/
!user_data/categories/61/
!user_data/categories/61/*
!user_data/categories/68/
!user_data/categories/68/*
screenshots/
.VSCodeCounter/
custom_chars/0$*
test*
temp*
*.exe
user_data/mal.xml
user_data/categories/anime_logos
user_data/categories/anime_themes
user_data/categories/haikyuu_teams
user_data/categories/live_action

